.nav-title{
  color: coral;
  font-weight: 700;
}


.item {
    list-style: none;
    margin-right: 30px;
    font-size: 22px;
    font-weight: 600;
    color: rgba(197, 27, 27, 0.795);
    cursor: pointer;
    padding: 5px;
    background-color: rgb(255, 233, 231);
    border-radius: 6px;
    text-decoration: none;
  }

  .item :hover {
    font-size: 25px;
   color: rgb(202, 27, 7);
  }