.cover{

background-image: url("https://image.freepik.com/free-photo/acoustic-guitar-close-up-beautiful-colored-background_169016-3530.jpg");
   
    
    height: 580px;
    width: 100%;
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.title{
color: rgb(243, 242, 242);
}

.intro-para{
    font-weight: bold;
    color: rgb(255, 250, 205);
}

.contact-button{
    margin-top: 40px;
    padding : 10px 20px;
    border-radius: 9px;
    color: rgb(255, 220, 177);
    font-weight: bold;
    background-color: rgb(202, 91, 0);
}